WEB_PORT=3000
POSTGRES_PORT=5432
MEILI_PORT=7700
SITE_URL=

POSTGRES_USER=blog
POSTGRES_DB=blog
POSTGRES_PASSWORD=
DATABASE_URL=

MEILI_HOST=http://127.0.0.1:7700
MEILI_MASTER_KEY=

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
